.navbar {
  width: 100%;
  padding: 0.8rem 6%;
  background-color: var(--primary);
  & img {
    width: 5rem;
  }
  &-nav {
    & .nav-item {
      &:not(:last-child) {
        margin-right: 3rem;
      }
    }
    & .nav-link {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 3rem;
      letter-spacing: 1.5px;
      color: var(--color-white);

      position: relative;

      &:hover {
        color: var(--secondary);
        transition: 0.5s;
        &::before {
          width: 80%;
          transform: scale(1);
        }
      }
      &::before {
        @media only screen and (max-width: 770px) {
          border: none;
        }
        content: "";
        bottom: 0;
        left: 10%;
        position: absolute;
        transform: scale(0);
        transition: transform 0.5s ease-in-out;
        border-bottom: 1px solid var(--secondary);
      }
    }
  }
  &-toggler {
    i {
      font-size: 2.2rem;
      color: var(--color-white);
    }
    i:active {
      color: var(--secondary);
    }
  }
}
// .affix {
//   transition: all 0.8s;
//   background-color: var(--primary);
//   & img {
//     width: 5rem;
//   }
//   & .nav-link {
//     font-weight: 600;
//     font-size: 1.2rem;
//     letter-spacing: 2px;
//   }
// }

.burger-button {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color-white);
}

.drawer-menu {
  height: 100vh;
  right: -100%;
  top: 0;
  width: 100%;
  z-index: 10000;
  position: fixed;
  transition: 850ms;
  text-align: center;
  background-color: var(--primary);

  &.active {
    right: 0;
    transition: 450ms;
  }

  & ul {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &_item {
    margin: 8px 0;
    cursor: pointer;
    &:hover .drawer-menu_link {
      color: var(--secondary);
    }
  }

  & a {
    width: 100%;
    width: 200px;
    display: block;
    text-decoration: none;
    border: 1px solid white;
    &:hover {
      border: 1px solid var(--secondary);
    }
  }

  &_link {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 3rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--color-white);
    position: relative;
    padding: 10px;
  }
}

.spin {
  top: 10px;
  right: 25px;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  color: var(--color-white);
  transform: rotate(0deg);
  transition: all 0.8s;
}

.spin.active {
  transform: rotate(180deg);
}
